<h2> Login </h2>
<form [formGroup]="myForm" (ngSubmit)="login()">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="user@domain.com" type="email" formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="8 - 10 caracteres" type="password" formControlName="password">
    </mat-form-field>
  </div>

  <button [disabled]="myForm.invalid" mat-raised-button color="primary"> Login </button>
</form>