<div [ngSwitch]="state">
  <div class="loading" *ngSwitchCase="'loading'"> 
    <mat-spinner></mat-spinner>
  </div>
  <div class='container' *ngSwitchCase="'ready'">
    <div *ngFor="let product of products">
    <mat-card class="product-card">
      <mat-card-header>
        <img mat-card-avatar src="https://img.icons8.com/bubbles/50/ffffff/product.png"/>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>SKU: {{product.sku}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <button mat-raised-button color="primary" routerLink="/products/{{product.id}}">DETALLES</button>
      </mat-card-footer>
    </mat-card>
    </div>
  </div>
</div>